/* This class styles the login container */
.login-container {
  background-color: white;
  padding: 30px;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 400px; /* Set the max width for the form */
  margin: auto; /* Center the form horizontally */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); /* Center the form vertically */
}

body {
  background-color: #f8f9fa; /* Light background color for the page */
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Full viewport height */
  margin: 0;
}

.fas {
  font-size: 20px;
  color: #6c757d;
  cursor: pointer;
  transition: color 0.3s ease;
}

.fas:hover {
  color: #007bff;
}

.fas.fa-eye {
  color: #007bff;
}

.fas.fa-eye-slash {
  color: #6c757d;
}
